
body{
   background-color: rgb(255, 255, 255);


}



menu { 
   background-color: rgb(88, 227, 218); 
   width: 100%; 
   height: 75px; 
   display: flex; 
   flex-direction: row; 

} 
   
   
.menu_izquierdo { 
   width: 80px; 
   height: 70px; 
   display: flex; 
   flex-direction: row; 
   justify-content: start; 

} 
   
   
   
.menu_derecho { 
   width: 2000px; 
   height: 60px; 
   display: flex; 
   flex-direction: row; 
   align-items: center; 
   justify-content: center; 

} 
   
   
.menu_derecho a { 
   
   width: 100px; 
   height: 50px; 
   text-decoration: none; 
   color: rgb(0, 0, 0); 
   font-size: bold; 
   font-weight: bold; 
   margin: 5px; 
   padding: 10px; 
   border: 2px solid black; 
   border-radius: 10px; 
   box-shadow: 5px 5px 0 grey; 

} 



.contenido{
   border: #000000 5px solid;
   width: auto;
   height: auto;
   border-radius: 3%;   
   

}

.shonen-spy{
  
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;

}



.main-accordion-container{
   width: 100%;
   background-color: rgb(255, 255, 255);
   

}

.accordion-item{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-top: #000000 3px solid;


}

.accordion-item:hover{
   transform: scale(1.05);
}

.accordion-title{
   width: 100%;
   background-color: antiquewhite;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 50px;
   font-size: 30px;
   font-weight: bold;
}

.accordion-desc{
   display: none;
}


.tab-active .accordion-desc {
   font-size: 20px;
   width: 100%;
   height: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   pointer-events: visible;
   border-top: 1px solid black

}

@media screen and (max-width: 1000px) { 
   
   .hamburger-icon { 
   
   width: 40%; 
   height: 30px; 
   background-color: antiquewhite; } 
   
  .hamburger-icon span{ 
   background-color: #ffffff; 
   width: 100%; 
   height: 5px; 
   display: block;
   border-radius: 3px;

 } 
  .menu-container.menu-open .menu-normal {
    width: auto;
    height: auto;
  


    }

 .accordion-title{
   height: auto;
   font-size: 70px;
   padding: 50px 0;
 }

 .tab-active .accordion-desc {
   font-size: 50px;
   height: auto;
  
}
}